@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  /* прижать footer к низу */ }

body {
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* прижать footer к низу */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* прижать footer к низу */
  height: 100%;
  /* прижать footer к низу */ }

.content {
  padding: 50px 50px 50px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* прижать footer к низу */ }
  .content h1 {
    margin-bottom: 40px;
    color: #3b96e4;
    font-size: 38px; }

.tasks__link {
  display: inline-block;
  color: #147ae2; }
  .tasks__link:hover {
    text-decoration: none; }
  .tasks__link:visited {
    color: #0f61b5; }

.tasks__explanation {
  font-size: 14px;
  font-style: italic; }

.tasks ul {
  padding: 0; }
  .tasks ul li {
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 14px;
    list-style: none;
    position: relative; }
    .tasks ul li::before {
      content: "";
      width: 6px;
      height: 6px;
      top: 8px;
      background-color: #147ae2;
      border-radius: 50%;
      position: absolute;
      left: 0; }

.contacts {
  background-color: #506b80;
  padding: 20px 50px 20px;
  color: #fff;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  /* прижать footer к низу */ }
  .contacts__socialIcons {
    display: inline-block;
    padding-right: 8px;
    border-right: solid 1px #ffffff6b; }
    .contacts__socialIcons i {
      color: #fff;
      font-size: 18px; }
  .contacts__info {
    padding-left: 5px;
    display: inline-block;
    font-style: italic; }
