@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Bold.eot");
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Medium.eot");
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Futura';
  src: url("../fonts/FuturaPT-Light.eot");
  src: url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  /* прижать footer к низу */ }

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* прижать footer к низу */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* прижать footer к низу */
  height: 100%;
  /* прижать footer к низу */ }

.mainContent {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  /* прижать footer к низу */ }
  .mainContent__info {
    padding-bottom: 40px; }
    .mainContent__info h1 {
      font-size: 38px;
      line-height: 42px;
      color: #3b96e4;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-family: 'Futura', Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 40px 0 30px; }
      .mainContent__info h1::-moz-selection {
        color: #ff0;
        /* Цвет текста */
        background: #364f63;
        /* Цвет фона */ }
      .mainContent__info h1::selection {
        color: #ff0;
        /* Цвет текста */
        background: #364f63;
        /* Цвет фона */ }
    .mainContent__info h2 {
      font-size: 26px;
      line-height: 28px;
      color: #3b96e4;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-family: 'Futura', Arial, Helvetica, sans-serif;
      margin: 30px 0 10px; }
      .mainContent__info h2::-moz-selection {
        color: #ff0;
        /* Цвет текста */
        background: #364f63;
        /* Цвет фона */ }
      .mainContent__info h2::selection {
        color: #ff0;
        /* Цвет текста */
        background: #364f63;
        /* Цвет фона */ }
    .mainContent__info .delimiter {
      width: 100%;
      height: 1px;
      background-color: #d4d4d4; }

.navbar {
  background-color: #5e8eb5;
  color: #fff;
  font-family: 'Futura', Arial, Helvetica, sans-serif;
  border-radius: 0;
  margin: 0; }
  .navbar a {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active {
    background-color: #f1f1f142; }
  .navbar .navbar-toggle .icon-bar {
    background-color: #fff; }

.mainList {
  padding: 0;
  margin-bottom: 16px; }
  .mainList > li {
    margin-bottom: 10px;
    padding-left: 14px;
    list-style: none;
    position: relative; }
    .mainList > li::before {
      content: "";
      width: 6px;
      height: 6px;
      top: 10px;
      background-color: #1496e2;
      border-radius: 50%;
      position: absolute;
      left: 0; }
  .mainList__link {
    font-size: 20px;
    line-height: 24px;
    color: #1496e2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: inline-block;
    color: #1496e2;
    font-family: 'Futura';
    text-decoration: underline; }
    .mainList__link:hover {
      text-decoration: none; }
    .mainList__link:visited {
      color: #167cb7; }
  .mainList__explanation {
    font-style: italic;
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500; }

footer {
  background-color: #506b80; }
  footer .contacts {
    padding: 20px 20px 20px;
    color: #fff;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    /* прижать footer к низу */ }
    footer .contacts__socialIcons {
      display: inline-block;
      padding-right: 8px;
      border-right: solid 1px #ffffff6b;
      margin-bottom: 0; }
      footer .contacts__socialIcons i {
        color: #fff;
        font-size: 18px; }
    footer .contacts__info {
      padding-left: 5px;
      display: inline-block;
      font-style: italic; }

@media screen and (max-width: 480px) {
  .mainContent__info h1 {
    font-size: 32px;
    margin: 10px 0 20px; } }
