$mainBgColor: #f1f1f1;

$footerBgColor: #506b80;
$mainFooterTextColor: #fff;

$menuBgColor: #5e8eb5;
$menuTextColor: #fff;

$mainColorText: #333;
$mainTitleColor: #3b96e4;

$mainLinkColor: #1496e2;
$mainLinkVisited: #167cb7;
$delimiterColor: #d4d4d4;

$fontSizeMain: 16px;