
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}
.container {
	max-width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

h2 {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.productName {
	background-color: #445162;
	color: #fff;
	padding: 50px 50px 55px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.productName__info .title {
	margin-bottom: 50px;
}

.productName__info .title h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 500;
	text-shadow: 1px 1px 0px #0000004c;
}

.productName__info ul {
	list-style-type: none;
}
.productName__info ul>li {
	color: #fff;
	text-shadow: 1px 1px 0px #0000004c;
	font-size: 20px;
	font-synthesis: 36px;
	margin-bottom: 15px;
}
.productName__info ul>li:last-child {
	margin-bottom: 0;
}

.productName__info ul>li::before {
	content: "";
	background: url(../image/icons/check.png) no-repeat;
	display: inline-block;
	width: 25px;
	height: 19px;
}

.productName__image img {
	max-width: 469px;
	max-height: 214px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutProduct {
	padding: 50px 50px 55px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aboutProduct__info {
	max-width: 57%;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

}

.aboutProduct__info p {
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}