* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%; /* прижать footer к низу */
}

body {
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	min-height: 100%;
	display: flex; /* прижать footer к низу */
	flex-direction: column; /* прижать footer к низу */
	height: 100%; /* прижать footer к низу */
}

.content {
	padding: 50px 50px 50px;
	flex: 1 0 auto; /* прижать footer к низу */
}

.title {
	margin-bottom: 40px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.tasks p {
	font-size: 18px;
	margin-bottom: 10px;
}

.tasks a {
	color: #147ae2;
}

.tasks a:hover {
	color: #0f61b5;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

footer {
	padding: 20px 50px 20px;
	color: #8a8a8a;
	border-top: solid 1px #dadada;
	flex-shrink: 0; /* прижать footer к низу */
}

footer p {
	font-style: italic;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */