@charset "UTF-8";
@font-face {
  font-family: 'FontAwesome';
  src: url("../../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: SocialIco;
  src: url("../fonts/Socialico.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ebebeb;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px; }

.container {
  margin: 0 auto;
  padding: 42px 50px 48px; }

h2 {
  font-size: 30px;
  line-height: 35px;
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500; }

.title {
  margin-bottom: 26px; }

.text-center {
  text-align: center; }

.btnMain {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  border-radius: 4px;
  width: 140px;
  font-size: 18px;
  line-height: 40px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: #fff;
  outline: none;
  display: block;
  border: none; }
  .btnMain:hover {
    cursor: pointer;
    background-color: #ebebeb; }
  .btnMain:focus {
    background-color: white; }

.videoBlock {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d3d3d3;
  color: #fff;
  position: relative;
  min-height: 420px;
  max-height: 600px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .videoBlock__bgOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .videoBlock__bgOverlay video {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      background: #232a34; }
    .videoBlock__bgOverlay::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(transparent));
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
      z-index: 2; }
  .videoBlock__info {
    width: 100%;
    z-index: 3; }
    .videoBlock__info h1 {
      font-size: 44px;
      line-height: 62px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      text-shadow: 1px 1px 0px #0000004c;
      text-transform: uppercase; }
    .videoBlock__info p {
      font-size: 20px; }
  .videoBlock__form {
    margin-top: 20px; }
    .videoBlock__form .input-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .videoBlock__form .form-control {
      display: inline;
      border-radius: 4px;
      background-color: #ffffffa3;
      padding: 0 12px 0;
      border: solid 1px #909090;
      outline: none;
      line-height: 40px;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s; }
      .videoBlock__form .form-control:focus {
        background-color: #fff; }
      .videoBlock__form .form-control:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
    .videoBlock__form .btnForm {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s;
      border-radius: 4px;
      width: 120px;
      font-size: 18px;
      line-height: 40px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      background-color: #e85813;
      outline: none;
      display: inline;
      border: solid 1px #bb440b;
      margin-left: -1px;
      font-weight: 500;
      color: #fff; }
      .videoBlock__form .btnForm:hover {
        cursor: pointer;
        background-color: #c24a10; }
      .videoBlock__form .btnForm:focus {
        background-color: #ef783f; }
      .videoBlock__form .btnForm {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }

.productName {
  background-color: #445161;
  color: #fff; }
  .productName::after {
    content: "";
    display: block;
    clear: both; }
  .productName__info {
    float: left; }
    .productName__info .title {
      margin-bottom: 37px; }
    .productName__info h2 {
      font-size: 60px;
      line-height: 62px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      text-shadow: 1px 1px 0px #0000004c; }
    .productName__info ul {
      list-style-type: none; }
    .productName__info ul > li {
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      text-shadow: 1px 1px 0px #0000004c;
      margin-bottom: 12px;
      padding-left: 4px; }
    .productName__info ul > li:last-child {
      margin-bottom: 0; }
    .productName__info ul > li::before {
      content: "";
      background: url(../image/icons/check.png) 0 0/contain no-repeat;
      display: inline-block;
      width: 25px;
      height: 19px; }
  .productName__image {
    float: right;
    padding-top: 6px; }
    .productName__image img {
      max-width: 469px;
      max-height: 214px; }

.aboutProduct {
  background-color: #fff; }
  .aboutProduct::after {
    content: "";
    display: block;
    clear: both; }
  .aboutProduct__info {
    float: left;
    max-width: 57%; }
    .aboutProduct__info .text > p {
      margin-bottom: 9px; }
    .aboutProduct__info .text > p:last-child {
      margin-bottom: 0; }
  .aboutProduct__image {
    float: right;
    padding-top: 7px; }
    .aboutProduct__image img {
      max-width: 430px;
      max-height: 245px; }

.dignityProduct {
  padding: 40px 50px 48px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .dignityProduct__info h2 {
    margin-bottom: 23px; }
  .dignityProduct__info ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .dignityProduct__info ul > li {
    width: calc(50% - 8px);
    margin-bottom: 26px;
    position: relative; }
  .dignityProduct__info ul > li:last-child,
  .dignityProduct__info ul > li:nth-of-type(5) {
    margin-bottom: 0; }
  .dignityProduct__info ul > li::before {
    width: 32px;
    height: 32px;
    top: 5px;
    background-color: #445161;
    color: #fff;
    display: inline-block;
    position: absolute;
    content: "\f067";
    text-align: center;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 32px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .dignityProduct__info ul > li p {
    margin-left: 42px; }

.scrinshots {
  background-color: #fff; }
  .scrinshots__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.scrinSection {
  width: calc(50% - 3px);
  margin-bottom: 22px; }
  .scrinSection::after {
    content: "";
    display: block;
    clear: both; }
  .scrinSection:last-child, .scrinSection:nth-of-type(3) {
    margin-bottom: 0; }
  .scrinSection__info {
    margin-left: 14px; }
    .scrinSection__info h2 {
      font-size: 24px;
      line-height: 23px;
      color: #445161;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 500;
      margin-bottom: 11px; }
  .scrinSection__img {
    float: left;
    margin-right: 14px;
    padding-top: 2px; }

.reviews {
  background-color: #f5f5f5;
  padding: 38px 50px 48px; }
  .reviews h2 {
    margin-bottom: 28px; }
  .reviews__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.reviewsSection {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px; }
  .reviewsSection:last-child, .reviewsSection:nth-child(3) {
    margin-bottom: 0; }
  .reviewsSection__img {
    padding-top: 2px;
    margin-right: 26px; }
    .reviewsSection__img img {
      width: 75px;
      height: 75px;
      border-radius: 100%; }
  .reviewsSection__info {
    background-color: #ebebeb;
    padding: 14px;
    border-radius: 4px;
    position: relative; }
    .reviewsSection__info::before {
      content: "";
      background-color: #ebebeb;
      width: 14px;
      height: 14px;
      position: absolute;
      left: -7px;
      top: 32px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .reviewsSection__info p {
      font-size: 14px;
      line-height: 18px;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400; }
    .reviewsSection__info .text {
      font-style: italic;
      color: #333;
      margin-bottom: 7px; }
    .reviewsSection__info .autor {
      color: #989898; }

.buyNow {
  background-color: #fff; }
  .buyNow__sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
    .buyNow__sections .buyPlan {
      width: 296px;
      margin-right: 45px;
      background-color: #445161;
      color: #fff;
      border-radius: 4px;
      border: solid 2px #445161; }
      .buyNow__sections .buyPlan:last-child {
        margin-right: 0; }
      .buyNow__sections .buyPlan h3 {
        font-size: 24px;
        line-height: 24px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        padding: 15px 0; }
      .buyNow__sections .buyPlan .price {
        background-color: #fff;
        font-size: 40px;
        line-height: 24px;
        color: #445161;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-align: center;
        padding: 20px 0; }
    .buyNow__sections .planInfo {
      padding: 16px 17px; }
      .buyNow__sections .planInfo ol {
        padding-left: 17px;
        text-align: left;
        margin-bottom: 20px; }
      .buyNow__sections .planInfo ol > li {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500; }
      .buyNow__sections .planInfo .btnMain {
        width: 100%; }

.contacts {
  background-color: #445161;
  color: #fff;
  padding: 50px 49px 50px; }
  .contacts h2 {
    color: #fff;
    margin-bottom: 23px; }

.contactBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contactBlock__form {
    width: 500px;
    margin-right: 52px;
    text-align: center; }
    .contactBlock__form input[type=submit] {
      display: inline-block; }
    .contactBlock__form input[type=submit]:hover {
      cursor: pointer; }
    .contactBlock__form .form-control {
      border-radius: 4px;
      background-color: #fff;
      padding: 10px 0 10px 8px;
      border: solid 2px #fff;
      display: block;
      margin-bottom: 20px;
      width: 100%;
      outline: none;
      -webkit-transition-duration: .3s;
      -o-transition-duration: .3s;
      transition-duration: .3s; }
      .contactBlock__form .form-control::-webkit-input-placeholder {
        color: #445161; }
      .contactBlock__form .form-control:-ms-input-placeholder {
        color: #445161; }
      .contactBlock__form .form-control::-ms-input-placeholder {
        color: #445161; }
      .contactBlock__form .form-control::placeholder {
        color: #445161; }
      .contactBlock__form .form-control:last-child {
        margin-bottom: 0; }
      .contactBlock__form .form-control:focus {
        border: solid 2px #a4c0ff; }
  .contactBlock__social {
    /* Вариант с fa fa icon */
    /* .addLink {
            @include mainFont ($size: 20px, $lineHt: 42px, $color: $mainColorSite);
            display: inline-block;
            border-radius: 50%;
            background-color: $whiteColor;
            width: 42px;
            height: 42px;
            text-align: center;
            margin-right: 6px;

            &:hover {
                background-color: $bgColorSiteTwo;
            }

            &:last-child {
                margin-right: 0;
            }
        }*/ }
    .contactBlock__social .socLink {
      text-decoration: none;
      color: #fff;
      display: block;
      margin-bottom: 8px; }
      .contactBlock__social .socLink:last-child {
        margin-bottom: 0; }
      .contactBlock__social .socLink:before {
        content: "";
        width: 26px;
        height: 26px;
        display: inline-block;
        top: 6px;
        position: relative; }
      .contactBlock__social .socLink:hover {
        opacity: 0.8; }
    .contactBlock__social .socialContacts {
      margin-bottom: 30px; }
    .contactBlock__social .skype:before {
      background: url(../image/icons/skype.png) 0 0/contain no-repeat; }
    .contactBlock__social .icq:before {
      background: url(../image/icons/icq.png) 0 0/contain no-repeat; }
    .contactBlock__social .mail:before {
      background: url(../image/icons/mail.png) 0 0/contain no-repeat; }
    .contactBlock__social .phone:before {
      background: url(../image/icons/phone.png) 0 0/contain no-repeat; }
    .contactBlock__social .socialAdd a {
      font-family: SocialIco, sans-serif;
      color: #fff;
      font-size: 60px;
      line-height: 44px;
      font-style: normal;
      text-decoration: none; }
      .contactBlock__social .socialAdd a:hover {
        color: #ebebeb; }

.copyright {
  background-color: #f5f5f5;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #445161;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  letter-spacing: .3px;
  padding-top: 3px; }

@media screen and (max-width: 1200px) {
  .productName__info {
    width: 50%; }
  .productName__image {
    width: 50%; }
    .productName__image img {
      max-width: 100%; }
  .buyNow__sections .buyPlan {
    width: 276px;
    margin-right: 26px;
    margin-bottom: 0; }
  .scrinSection {
    width: 100%; }
    .scrinSection:nth-of-type(3) {
      margin-bottom: 30px; }
  .aboutProduct__info {
    max-width: 50%; } }

@media screen and (max-width: 992px) {
  .buyNow__sections {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .buyNow__sections .buyPlan {
      width: calc(40% - 20px);
      margin-right: 10px;
      margin-bottom: 40px; }
      .buyNow__sections .buyPlan:last-child {
        margin-bottom: 0; }
  .productName {
    text-align: center; }
    .productName__info {
      width: 100%;
      margin-bottom: 20px; }
      .productName__info ul {
        text-align: left;
        display: inline-block; }
    .productName__image {
      width: 100%; }
  .aboutProduct__info {
    max-width: 100%;
    float: none;
    margin-bottom: 20px; }
    .aboutProduct__info h2 {
      text-align: center; }
  .aboutProduct__image {
    float: none;
    text-align: center;
    width: 100%; }
  .reviewsSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px; }
    .reviewsSection__info::before {
      display: none; }
    .reviewsSection__img {
      padding-top: 0;
      margin-right: 0;
      text-align: center; }
  .scrinshots__sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .scrinSection {
    width: 100%;
    margin-bottom: 30px; }
  .dignityProduct__info ul > li {
    width: 100%; }
  .dignityProduct__info ul > li:nth-of-type(5) {
    margin-bottom: 26px; }
  .contactBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contactBlock__form {
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px; }
    .contactBlock__social {
      text-align: center; } }

@media screen and (max-width: 767px) {
  .reviewsSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%; }
    .reviewsSection:nth-child(3) {
      margin-bottom: 40px; }
    .reviewsSection__img {
      padding-top: 2px;
      margin-right: 26px; }
    .reviewsSection__info::before {
      display: inherit; }
  .scrinSection__info {
    float: right;
    width: calc(67% - 14px);
    margin-left: 0; }
  .scrinSection__img {
    margin-right: 0;
    width: 33%; }
    .scrinSection__img img {
      max-width: 100%; }
  .buyNow__sections {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .buyNow__sections .buyPlan {
      width: 60%;
      margin-right: 0;
      margin-bottom: 40px; }
      .buyNow__sections .buyPlan:last-child {
        margin-bottom: 0; } }

@media screen and (max-width: 576px) {
  .aboutProduct__image img {
    max-width: 100%;
    height: auto; }
  .productName__image img {
    max-width: 100%;
    height: auto; }
  .productName__info h1 {
    font-size: 54px;
    line-height: 56px; }
  .productName__info ul > li {
    font-size: 18px; }
    .productName__info ul > li::before {
      width: 21px;
      height: 15px; }
  .dignityProduct__info ul > li::before {
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px; }
  .dignityProduct__info ul > li p {
    margin-left: 32px; }
  .buyNow .buyPlan {
    width: 80%; }
  .scrinSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .scrinSection__info {
      margin-left: 0;
      margin-bottom: 10px;
      width: 100%; }
      .scrinSection__info h2 {
        text-align: center;
        font-size: 20px; }
    .scrinSection__img {
      text-align: center;
      float: none;
      width: 100%; }
      .scrinSection__img img {
        width: 240px; }
  .reviewsSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 25px; }
    .reviewsSection__img {
      margin-right: 0;
      padding-top: 0;
      text-align: center; }
    .reviewsSection__info::before {
      display: none; } }

@media screen and (max-width: 480px) {
  .videoBlock__form .input-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .videoBlock__form .form-control:not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
  .videoBlock__form .btnForm {
    margin-left: 0;
    margin-top: 10px; }
    .videoBlock__form .btnForm {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
  .productName__info h1 {
    text-align: center;
    font-size: 46px;
    line-height: 48px; }
  .dignityProduct__info ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .dignityProduct__info ul > li {
    width: 100%; }
  .dignityProduct__info ul > li:nth-of-type(5) {
    margin-bottom: 26px; }
  .buyNow__sections .buyPlan {
    max-width: 100%; }
  .container,
  .dignityProduct,
  .reviews,
  .contacts {
    padding: 40px 30px 40px; } }

@media screen and (max-width: 320px) {
  .productName__info h1 {
    font-size: 40px;
    line-height: 42px; }
  .productName__info ul > li {
    font-size: 16px; }
  .scrinSection__info h3 {
    line-height: 28px; } }
