.footer {
    padding-top: 4.5em;
    color: $lightColorText;
    background: $darkColor;
    overflow: hidden;

    a {
        color: $lightColorText;
        &:hover {
            color: darken($lightColorText, 20);
            text-decoration: none;
        }
    }

    .brand-info .brand {
        display: inline-block;
        font-size: 2em;
        color: $whiteColor;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0;
    }
}

.subscribe-title {
    line-height: 1.2;
    margin-bottom: 1.3em;
}

.subscribe-form {
    max-width: 300px;
}

.footer-bottom {
    font-family: 'Montserrat', sans-serif;
    color: $lightColorText;
    font-weight: 400;
    margin-top: 4.5em;
    padding: 1.7em 0;
    background-color: $darkColorMore;
    font-size: 0.75em;
}