h1,
.h1 {
    @include mainFont (4.3em, 1.2, $h1Color, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
    margin: 0.6em 0;
}

h1 i,
.h1 i {
    display: inline-block;
    font-size: 1.1em;
    font-family: 'Playfair Display', serif;
}

h2,
.h2 {
    @include mainFont (2.5em, 1.2, $h2Color, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
    margin: 0.6em 0 1.4em;
}

h2 i,
.h2 i {
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

h3,
.h3 {
    @include mainFont (1.875em, 1.5, $hMoreColor, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
}

h3 i,
.h3 i {
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

h4,
.h4 {
    @include mainFont (1.65em, 1.35, $hMoreColor, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 1.3em 0;
}

h4 i,
.h4 i {
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

h5,
.h5 {
    @include mainFont (1.35em, 1.35, $hMoreColor, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 1.4em 0;
}

h6,
.h6 {
    @include mainFont (1.15em, 1.35, $hMoreColor, $fWeight: 700);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin: 1.4em 0;
}

h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a {
    color: inherit;
}

h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h4 a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: $aColor;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;

    &:hover,
    &:focus {
        color: $linkHoverColor;
        outline: none;
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $cursorBgColor;
}

::selection {
    background-color: $selectionBgColor;
    color: $whiteColor;
}

-webkit-::selection {
    background-color: $selectionBgColor;
    color: $whiteColor;
}

::-moz-selection {
    background-color: $selectionBgColor;
    color: $whiteColor;
}