$h1Color: #3b3b3b;
$h2Color: #3b3b3b;
$hMoreColor: #3b3b3b;
$aColor: #303030;
$aFocusColor: #303030;
$cursorBgColor: #a0a0a0;
$selectionBgColor: #292929;

$linkHoverColor: #e2675f;

$darkColorText: #030203;
$darkColorMore: #1c1c1c;
$darkColor: #292929;
$doubleGreyColor: #323232;
$greyColor: #303030;
$textColorGrey: #4b4b4b;
$textColorMuted: #9a9a9a;
$bgMiddleColor: #dcdcdc;
$bgLightColor: #f7f7f7;
$lightColorText: #f2f2f2;
$whiteColor: #fff;

$navBListBgColor: #f6f6f6;
$navListlinkColor: #5a5a5a;
$navMobileLink: #3b3b3b;
$navMobileLinkHover: #a5a5a5;
$navLeftBgColor: #f2f2f2;
$navSocialLink: #595959;
$navAddressLink: #595959;

$filterLink: #8e8e8e;
$filterTopLink: #3b3b3b;

$formBorderColor: #dadada;
$formBorderFocus: #292929;
$formTextColor: #3d3d3d;
$formPlaceholder: #a7a7a7;
$formMoreTexttColor: #292929;
$formMoreTexttError: #747474;

$mainBtnColor: #fff;
$mainBtnColorBg: #292929;
$mainBtnColorHover: #323232;
$darkBtnColorBg: #292929;

$fontMainSize: 1.1em;