.container-fluid {
    padding: 0 2em;

    @include _min1200 {
        padding: 0 4em;
    }

    @include _min992 {
        padding: 0 3em;
    }
}

.row-base {
    margin: -4em -2em 0 -2em;
}

.col-base {
    padding: 0 2em;
    margin-top: 4em;
}

header {
    p:last-child {
        margin-bottom: 0;
    }
}

.section {
    position: relative;
    padding-top: 4.8em;
    padding-bottom: 4.8em;
}

.section-static {
    position: static !important;
}

.section-content {
    margin-top: 4.2em;

    @include _min1200 {
        margin-top: 6.8em;
    }

    @include _min992 {
        margin-top: 5.8em;
    }

    @include _min768 {
        margin-top: 4.8em;
    }
}

.section-title {
    position: relative;
    margin-top: 0;
}

.bg-left-fluid,
.bg-left-md-fluid,
.bg-left-lg-fluid {
    margin-top: 5em;
    height: 30em;
    background-size: cover;
    background-position: 50% 0;
}

.bg-right-fluid,
.bg-right-md-fluid,
.bg-right-lg-fluid {
    margin-top: 5em;
    height: 30em;
    background-size: cover;
    background-position: 50% 0;
}

.lead {
    font-size: 1.275em;
    line-height: 2;
    margin: 1em 0 1.8em;
}

.section-lead {
    font-size: 1.25em;
    margin: 0;
}

@media (min-width: 992px) {

    .bg-right-md-fluid {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .bg-left-md-fluid {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {

    .bg-left-fluid {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .bg-right-fluid {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .bg-right-sm-fluid {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .bg-right-lg-fluid {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }

    .bg-left-lg-fluid {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin-top: 0;
    }
}