@font-face {
	font-family: 'FontAwesome';
	src: url('../../font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../../font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: SocialIco;
    src: url("../fonts/Socialico.ttf");
}

* {
	margin: 0;
	padding: 0;
}

body {
    background-color: $bgColorSite;
    @include mainFont ();
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: $mainWidthSite;
}

.container {
    margin: 0 auto;
    padding: 42px 50px 48px;
}

h2 {
    @include mainFont ($size: 30px, $lineHt: 35px, $color: $mainColorSite);
}

.title {
	margin-bottom: 26px;
}

.text-center {
	text-align: center;
}

.btnMain {
    @include btnBasis ();
	display: block;
    border: none;
}

.videoBlock {
    z-index: 1;
    display: flex;
    background-color: #d3d3d3;
    color: $whiteColor;
    position: relative;
    min-height: 420px;
    max-height: 600px;
    text-align: center;
    align-items: center;

    &__bgOverlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background: #232a34;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -webkit-gradient(linear,left top,left bottom, 
            from(rgba(0,0,0,0.2)),to(rgba(0,0,0,0.2))),
            -webkit-gradient(linear,left top,left bottom,
            from(rgba(0,0,0,0.2)),to(transparent));
            background: linear-gradient(180deg,rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),linear-gradient(180deg,rgba(0,0,0,0.2) 0%,transparent 100%);
            z-index: 2;
        }
    }

    &__info {
        width: 100%;
        z-index: 3;
        h1 {
            @include mainFont ($size: 44px, $lineHt:62px, $color: $whiteColor, $fWeight: 600);
            text-shadow: 1px 1px 0px #0000004c;
            text-transform: uppercase;
        }
        p {
            font-size: 20px;
        }
    }

    &__form {
        margin-top: 20px;
        .input-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .form-control {
            display: inline;
            border-radius: 4px;
            background-color: #ffffffa3;
            padding: 0 12px 0;
            border: solid 1px #909090;
            outline: none;
            line-height: 40px;
            transition-duration: .3s;

            &:focus {
                background-color: #fff;
            }

            &:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .btnForm {
            @include btnBasis ($btnWidth: 120px, $bgColor: #e85813);
            display: inline;
            border: solid 1px #bb440b;
            margin-left: -1px;
            font-weight: 500;
            color: #fff;

            & {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.productName {
    @include clearFix ();
	background-color: $mainColorSite;
    color: $whiteColor;

    &__info {
        float: left;

        .title {
            margin-bottom: 37px;
        }

        h2 {
            @include mainFont ($size: 60px, $lineHt:62px, $color: $whiteColor);
            text-shadow: 1px 1px 0px #0000004c;
        }

        ul {
            list-style-type: none;
        }

        ul>li {
            @include mainFont ($size: 20px, $lineHt: 24px, $color: $whiteColor);
            text-shadow: 1px 1px 0px #0000004c;
            margin-bottom: 12px;
            padding-left: 4px;
        }

        ul>li:last-child {
            margin-bottom: 0;
        }

        ul>li::before {
            content: "";
            background: url(../image/icons/check.png) 0 0/contain no-repeat;
            display: inline-block;
            width: 25px;
            height: 19px;
        }
    }

    &__image {
        float: right;
        padding-top: 6px;

        img {
            max-width: 469px;
            max-height: 214px;
        }
    }
}

.aboutProduct {
    @include clearFix ();
    background-color: $bgColorSiteThree;

    &__info {
        float: left;
        max-width: 57%;

        .text>p {
            margin-bottom: 9px;
        }

        .text>p:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        float: right;
        padding-top: 7px;

        img {
            max-width: 430px;
            max-height: 245px;
        }
    }
}

.dignityProduct {
	padding: 40px 50px 48px;
	background-color: $bgColorSiteTwo;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;

    &__info {
        h2 {
            margin-bottom: 23px;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        ul>li {
            width: calc(50% - 8px);
            margin-bottom: 26px;
            position: relative;
        }

        ul>li:last-child,
        ul>li:nth-of-type(5) {
            margin-bottom: 0;
        }

        ul>li::before {
            width: 32px;
            height: 32px;
            top: 5px;
            background-color: $mainColorSite;
            color: $whiteColor;
            display: inline-block;
            position: absolute;
            content: "\f067";
            text-align: center;
            display: inline-block;
            font-family: FontAwesome;
            font-size: 20px;
            line-height: 32px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        ul>li p {
            margin-left: 42px;
        }
    }
}

.scrinshots {
    background-color: $bgColorSiteThree;

    &__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.scrinSection {
    @include clearFix ();
	width: calc(50% - 3px);
    margin-bottom: 22px;

    &:last-child,
    &:nth-of-type(3) {
        margin-bottom: 0;
    }

    &__info {
        margin-left: 14px;

        h2 {
            @include mainFont ($size: 24px, $lineHt: 23px, $color: $mainColorSite);
            margin-bottom: 11px;
        }
    }

    &__img {
        float: left;
        margin-right: 14px;
        padding-top: 2px;
    }
}

.reviews {
	background-color: $bgColorSiteTwo;
    padding: 38px 50px 48px;

    h2 {
        margin-bottom: 28px;
    }

    &__sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.reviewsSection {
	width: calc(50% - 15px);
    display: flex;
    margin-bottom: 21px;

    &:last-child,
    &:nth-child(3) {
        margin-bottom: 0;
    }

    &__img {
        padding-top: 2px;
        margin-right: 26px;

        img {
            width: 75px;
            height: 75px;
            border-radius: 100%;
        }
    }

    &__info {
        background-color: $bgColorSite;
        padding: 14px;
        border-radius: 4px;
        position: relative;

        &::before {
            content: "";
            background-color: $bgColorSite;
            width: 14px;
            height: 14px;
            position: absolute;
            left: -7px;
            top: 32px;
            -webkit-transform: rotate( 45deg );
            -moz-transform: rotate( 45deg );
            -ms-transform: rotate( 45deg );
            -o-transform: rotate( 45deg );
            transform: rotate( 45deg );
        }

        p {
            @include mainFont ($size: 14px, $lineHt: 18px, $fWeight: 400);
        }

        .text {
            font-style: italic;
            color: #333;
            margin-bottom: 7px;
        }

        .autor {
            color: #989898;
        }
    }
}

.buyNow {
    background-color: $bgColorSiteThree;

    &__sections {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        text-align: center;

        .buyPlan {
            width: 296px;
            margin-right: 45px;
            background-color: $mainColorSite;
            color: $whiteColor;
            border-radius: 4px;
            border: solid 2px $mainColorSite;

            &:last-child {
                margin-right: 0;
            }

            h3 {
                @include mainFont ($size: 24px, $color: $whiteColor);
                padding: 15px 0;
            }

            .price {
                background-color: $whiteColor;
                @include mainFont ($size: 40px, $color: $mainColorSite);
                text-align: center;
                padding: 20px 0;
            }
        }

        .planInfo {
            padding: 16px 17px;

            ol {
                padding-left: 17px;
                text-align: left;
                margin-bottom: 20px;
            }

            ol>li {
                @include mainFont ($size: 14px, $lineHt: 24px, $color: $whiteColor);
            }

            .btnMain {
                width: 100%;
            }
        }
    }

}

.contacts {
	background-color: $mainColorSite;
	color: $whiteColor;
    padding: 50px 49px 50px;

    h2 {
        color: $whiteColor;
        margin-bottom: 23px;
    }
}

.contactBlock {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;

    &__form {
        width: 500px;
        margin-right: 52px;
        text-align: center;

        input[type=submit] {
            display: inline-block;
        }

        input[type=submit]:hover {
            cursor: pointer;
        }

        .form-control {
            border-radius: 4px;
            background-color: $whiteColor;
            padding: 10px 0 10px 8px;
            border: solid 2px $whiteColor;
            display: block;
            margin-bottom: 20px;
            width: 100%;
            outline: none;
            transition-duration: .3s;

            &::placeholder {
                color: $mainColorSite;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:focus {
                border: solid 2px #a4c0ff;
            }
        }
    }

    &__social {
        .socLink {
            text-decoration: none;
            color: $whiteColor;
            display: block;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: "";
                width: 26px;
                height: 26px;
                display: inline-block;
                top: 6px;
                position: relative;
            }

            &:hover {
                opacity: 0.8;
            }
        }

        .socialContacts {
            margin-bottom: 30px;
        }

        .skype:before {
            background: url(../image/icons/skype.png) 0 0/contain no-repeat;
        }
        .icq:before {
            background: url(../image/icons/icq.png) 0 0/contain no-repeat;
        }

        .mail:before {
            background: url(../image/icons/mail.png) 0 0/contain no-repeat;
        }

        .phone:before {
            background: url(../image/icons/phone.png) 0 0/contain no-repeat;
        }

        .socialAdd a {
            font-family: SocialIco, sans-serif;
            color: $whiteColor;
            font-size: 60px;
            line-height: 44px;
            font-style: normal;
            text-decoration: none;

            &:hover {
                color: darken($color: $whiteColor, $amount: 8%);
            }
        }

        /* Вариант с fa fa icon */
        /* .addLink {
            @include mainFont ($size: 20px, $lineHt: 42px, $color: $mainColorSite);
            display: inline-block;
            border-radius: 50%;
            background-color: $whiteColor;
            width: 42px;
            height: 42px;
            text-align: center;
            margin-right: 6px;

            &:hover {
                background-color: $bgColorSiteTwo;
            }

            &:last-child {
                margin-right: 0;
            }
        }*/
    }
}

.copyright {
	background-color: $bgColorSiteTwo;
    text-align: center;
    @include mainFont ($size: 12px, $color: $mainColorSite);
	letter-spacing: .3px;
	padding-top: 3px;
}