
@mixin mainFont ($size: $fontSizeMain, $lineHt: 24px, $color: #333, $fWeight: 500) {
    font-size: $size;
    line-height: $lineHt;
    color: $color;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $fWeight;
}

@mixin clearFix () {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin btnBasis ($brdRad: 4px, $btnWidth: 140px, $bgColor: $whiteColor, $bgTextColor: #fff) {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: .3s;
    border-radius: $brdRad;
    width: $btnWidth;
    @include mainFont ($size: 18px, $lineHt: 40px, $color: $bgTextColor, $fWeight: 600);
    background-color: $bgColor;
    outline: none;

    &:hover {
        cursor: pointer;
        background-color: darken($bgColor, 8%);
    }
    &:focus {
        background-color: lighten($bgColor, 10%);
    }
}